
<nav class="navbar">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand navMe" routerLink="/" >The Failing Coder</a>
          
      </div>
  </div>
</nav>

<div class="allCards">
    <div  style="position: relative;" *ngFor="let project of allProjects">
      <div class="card">
        <div class="internalCard"></div>
      </div>
      <p >{{project.name}}</p>
    </div>
</div>

<div class="mainLinkHolder">
    <div *ngFor="let link of linksArray">
        <div class="link">
            <a href="{{link.link}}" target="_blank" class="{{link.icon}}"></a>
        </div>
      
      </div>
</div>
